In [39]:
import random
import numpy as np

random.seed(0)

id_list = np.arange(0, 40, 1)
random.shuffle(id_list)

annotator_list = ["vishnesh", "ayush", "anton", "kelly", "rachel", "vinayak"]
annotator_dict = {annotator: [] for annotator in annotator_list}

# for i in np.arange(np.ceil(40)).astype(int):
#     temp_annotator_list = annotator_list.copy()
#     random.shuffle(temp_annotator_list)
#     for j in np.arange(3):
#         if i * 3 + j >= 40:
#             break
#         annotator_dict[temp_annotator_list[j * 2]].append(id_list[i * 3 + j])
#         annotator_dict[temp_annotator_list[j * 2 + 1]].append(id_list[i * 3 + j])
#         annotator_dict[temp_annotator_list[j * 2 + 2]].append(id_list[i * 3 + j])

print(sum([len(x) for x in annotator_dict.values()]))

0

In [40]:
id_list

array([ 0, 27, 12, 21, 29, 15, 38, 34,  1, 20,  7,  5, 10, 13, 14, 37, 22,
       39, 23, 17,  8, 35,  3, 33,  9,  4, 36,  6, 28, 18, 11, 30, 19, 25,
       31, 32, 16,  2, 26, 24])

In [43]:
annotator_dict[annotator_l]

{'vishnesh': [12, 34, 5, 3, 4, 18, 19, 32, 16, 24],
 'ayush': [0, 29, 13, 39, 23, 33, 9, 11, 2],
 'anton': [15, 7, 10, 22, 31, 26],
 'kelly': [1, 20, 8, 35, 6, 25],
 'rachel': [21, 38, 17],
 'vinayak': [27, 14, 37, 36, 28, 30]}

In [83]:
# End result is the ids split evenly 3 times among annotators

annotator_dict = {annotator: [] for annotator in annotator_list}
annotator_list = ["vishnesh", "ayush", "anton", "kelly", "rachel", "vinayak"]

for i in range(int(len(id_list)/2)):
    random.shuffle(annotator_list)
    for j in range(3):
        # if i * 3 + j >= 40:
        #     break
        # annotator_dict[annotator_list[j*2 + 1]].append(id_list[i*3+j])
        annotator_dict[annotator_list[j*2]].append(id_list[i*2])
        annotator_dict[annotator_list[j*2+1]].append(id_list[i*2+1])

{k: len(v) for k, v in annotator_dict.items()}

{'vishnesh': 20,
 'rachel': 20,
 'ayush': 20,
 'kelly': 20,
 'anton': 20,
 'vinayak': 20}

In [82]:
annotator_list

['vishnesh', 'rachel', 'ayush', 'kelly', 'anton', 'vinayak']

In [84]:
# rank annotator's list of id in ascending order
for annotator in annotator_list:
    # annotator_dict[annotator].sort()
    # add 2 to each id
    annotator_dict[annotator] = [id + 2 for id in annotator_dict[annotator]]

In [90]:
{k: sorted(v) for k, v in annotator_dict.items()}

{'vishnesh': [3,
  5,
  6,
  7,
  8,
  10,
  15,
  16,
  17,
  18,
  23,
  24,
  25,
  26,
  27,
  29,
  30,
  32,
  33,
  40],
 'rachel': [3,
  4,
  7,
  8,
  11,
  12,
  14,
  16,
  19,
  20,
  21,
  24,
  28,
  29,
  31,
  32,
  34,
  35,
  36,
  37],
 'ayush': [2,
  4,
  5,
  9,
  11,
  13,
  15,
  17,
  19,
  20,
  22,
  23,
  27,
  28,
  34,
  37,
  38,
  39,
  40,
  41],
 'kelly': [2,
  3,
  6,
  7,
  8,
  12,
  13,
  17,
  18,
  19,
  23,
  24,
  27,
  28,
  30,
  34,
  35,
  37,
  39,
  40],
 'anton': [2,
  4,
  6,
  9,
  10,
  12,
  13,
  14,
  21,
  22,
  25,
  26,
  30,
  31,
  33,
  35,
  36,
  38,
  39,
  41],
 'vinayak': [5,
  9,
  10,
  11,
  14,
  15,
  16,
  18,
  20,
  21,
  22,
  25,
  26,
  29,
  31,
  32,
  33,
  36,
  38,
  41]}

In [86]:
# print length of each annotator's list of id
for annotator in annotator_list:
    print(annotator, len(annotator_dict[annotator]))

kelly 20
vishnesh 20
ayush 20
vinayak 20
rachel 20
anton 20

In [93]:
tmp =

{'0': [],
 '1': [],
 '2': ['ayush', 'kelly', 'anton'],
 '3': ['vishnesh', 'rachel', 'kelly'],
 '4': ['rachel', 'ayush', 'anton'],
 '5': ['vishnesh', 'ayush', 'vinayak'],
 '6': ['vishnesh', 'kelly', 'anton'],
 '7': ['vishnesh', 'rachel', 'kelly'],
 '8': ['vishnesh', 'rachel', 'kelly'],
 '9': ['ayush', 'anton', 'vinayak'],
 '10': ['vishnesh', 'anton', 'vinayak'],
 '11': ['rachel', 'ayush', 'vinayak'],
 '12': ['rachel', 'kelly', 'anton'],
 '13': ['ayush', 'kelly', 'anton'],
 '14': ['rachel', 'anton', 'vinayak'],
 '15': ['vishnesh', 'ayush', 'vinayak'],
 '16': ['vishnesh', 'rachel', 'vinayak'],
 '17': ['vishnesh', 'ayush', 'kelly'],
 '18': ['vishnesh', 'kelly', 'vinayak'],
 '19': ['rachel', 'ayush', 'kelly'],
 '20': ['rachel', 'ayush', 'vinayak'],
 '21': ['rachel', 'anton', 'vinayak'],
 '22': ['ayush', 'anton', 'vinayak'],
 '23': ['vishnesh', 'ayush', 'kelly'],
 '24': ['vishnesh', 'rachel', 'kelly'],
 '25': ['vishnesh', 'anton', 'vinayak'],
 '26': ['vishnesh', 'anton', 'vinayak'],
 '27': ['vishnesh', 'ayush', 'kelly'],
 '28': ['rachel', 'ayush', 'kelly'],
 '29': ['vishnesh', 'rachel', 'vinayak'],
 '30': ['vishnesh', 'kelly', 'anton'],
 '31': ['rachel', 'anton', 'vinayak'],
 '32': ['vishnesh', 'rachel', 'vinayak'],
 '33': ['vishnesh', 'anton', 'vinayak'],
 '34': ['rachel', 'ayush', 'kelly'],
 '35': ['rachel', 'kelly', 'anton'],
 '36': ['rachel', 'anton', 'vinayak'],
 '37': ['rachel', 'ayush', 'kelly'],
 '38': ['ayush', 'anton', 'vinayak'],
 '39': ['ayush', 'kelly', 'anton']}

In [87]:
for i in range(40):
    print(f"{i}: {sum([sum([x == i for x in y]) for y in annotator_dict.values()])}")

0: 0
1: 0
2: 3
3: 3
4: 3
5: 3
6: 3
7: 3
8: 3
9: 3
10: 3
11: 3
12: 3
13: 3
14: 3
15: 3
16: 3
17: 3
18: 3
19: 3
20: 3
21: 3
22: 3
23: 3
24: 3
25: 3
26: 3
27: 3
28: 3
29: 3
30: 3
31: 3
32: 3
33: 3
34: 3
35: 3
36: 3
37: 3
38: 3
39: 3

200